.header {
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 24px;

  background: var(--white-color-ffffff);

  &__content {
    @include flex-all-sb
  }

  &__logo {
    object-fit: none;
  }
}

@media (max-width: 799px) {
  .header {
    &__content {
      flex-direction: row-reverse;
    }
  }
}
