.info {
  display: none;
 &__content{
 display: flex;
 flex-direction: column;
 align-items: center;
 }

  &__menu-item {
    list-style-type: none;
  }

    &__box{
      padding: 0;
    }
}
.mainButtons {
  width: 100%;
  padding: 0 15px;
  display: flex;
  column-gap:22px;
  align-items: center;
  outline: none;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  color: var(--blue-color-004685);
  &:hover{
    color: var(--cornflower-color-569ddc);
  }
}

.supernatant{
  text-decoration: var(--blue-color-004685) underline dotted;
}
  .arrow {
    margin-left: auto;
    transition: transform 0.3s;
  }

  .rotate-up {
  transform: rotate(-90deg);
}

.rotate-down {
  transform: rotate(90deg);
}


.dropdown {
  margin: 0 0 20px;
  overflow: hidden;
}

.dropdown__content {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}


@media (max-width: 799px) {
  .info {
    display: block;
  }
  .desktop {
    display: none;
  }
}
