.fines {
  margin-bottom: 60px;

  &__content {
    display: flex;
    column-gap: 40px;
    padding-bottom: 57px;
  }

  &__information {
    display: flex;
    flex-direction: column;
    row-gap: 37px;
  }

  &__title {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 22px;
    color: var(--black-color-000000);
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  }

  &__driver {
    margin-bottom: 10px;
  }

  &__during {
    font-weight: 700;
    color: var(--crimson-color-d30531);
    margin: 0;
    margin-bottom: 3px;
  }
}

.boundary {
  border-bottom: 1px solid var(--rich-blue-color-00468533);
  width: 100%;
}

@media (max-width: 799px) {
  .fines {
    margin-top: 20px;
    &__image{
      display: none;
    }
}}
