<section class="fines debt hidden">
  <div class="container-fluid">
    <div class="fines__content">
      <img loading="lazy" src="img/legal-debts.png" class="fines__image" width="320" height="320"
        alt="здесь должна быть картинка">
      <div class="fines__information">

        <div class="fines__block">
          <h2 class="fines__title">Судебные задолженности</h2>
          <p class="fines__text fines__driver">Для поиска начислений в ГИС ГМП укажите документы: паспорт РФ, ИНН, СНИЛС
            или номер Исполнительного производства.</p>
          <p class="fines__text fines__resolution">Вы можете указать реквизиты платежа самостоятельно, заполнив форму.
          </p>
        </div>

        <div class="fines__block">
          <p class="fines__during">УДОБНО!</p>
          <p class="fines__text fines__progress">Судебные задолженности можно погасить как сразу, так и по частям,
            комфортными для вас платежами. Информацию о совершенных платежах сохраняйте в Личном кабинете.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="boundary"></div>
</section>
