<header class="header">
  <div class="header__content">
    <a class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </a>
    <nav class="nav" title="Меню" data-menu>
      <h3 class="nav__title">ЛИЧНЫЙ КАБИНЕТ</h3>
      <ul class="nav__list">
        <li class="nav__item ">
          <a href="#" class="nav__link " data-menu-item data-graph-path="entrance-1">Вход в Личный кабинет</a>
        </li>
      </ul>
      <h3 class="nav__title">КАК ЭТО РАБОТАЕТ</h3>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-graph-path="entrance-1">Условия использования
            сервиса</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-graph-path="entrance-1">Способы оплаты</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-graph-path="entrance-1">Часто задаваемые
            вопросы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-graph-path="entrance-1">Служба поддержки</a>
        </li>
      </ul>
    </nav>
    <img loading="lazy" src="img/svg/logo-site-logo.svg" class="header__logo" width="295" height="44" alt="логотип">
    <span class="tooltip">
      <button class=" tooltip__btn" aria-describedby="id1">
        <img loading="lazy" src="img/svg/tooltip-help.svg" class="tooltip__image" width="55" height="55" alt="">
      </button>
      <span class="tooltip__txt" role="tooltip" id="id1">
        <span class="visually-hidden">Тултип: </span>
        <div class="tel">
          <span class="tel__support">Тел. поддержки</span>
          <p class="tel__location">8 800 123-45-67</p>
          <a href="#" class="tel__letter">Написать письмо</a>
        </div>
      </span>
    </span>
  </div>
</header>
