<section class="info">
  <div class="info__content">
    <h2 class="info__menu__title">Узнай, как оплатить</h2>
    <ul class="info__box">
      <li class="info__menu-item dropdown">
        <button class="mainButtons" data-target="dropdown-fines">
          <img loading="lazy" src="img/mobile/ic_gibdd1.svg" class="image" width="" height="" alt="здесь должна быть картинка">
         <div class="supernatant">Штрафы ГИБДД</div>
          <span class="arrow">▶</span>
        </button>
        <div class="dropdown__content hidden" id="dropdown-fines">@include('./testimony.html')</div>
        <div class="boundary"></div>
      </li>
      <li class="info__menu-item dropdown">
        <button class="mainButtons" data-target="dropdown-debt">
          <img loading="lazy" src="img/mobile/ic_fssp.svg" class="image" width="" height="" alt="здесь должна быть картинка">
          <div class="supernatant">Судебные задолженности</div>
          <span class="arrow">▶</span>
        </button>
        <div class="dropdown__content hidden" id="dropdown-debt">@include('./debt.html')</div>
        <div class="boundary"></div>
      </li>
      <li class="info__menu-item dropdown">
        <button class="mainButtons" data-target="dropdown-taxes">
          <img loading="lazy" src="img/mobile/ic_nalog.svg" class="image" width="" height="" alt="здесь должна быть картинка">
         <div class="supernatant"> Налоги</div>
          <span class="arrow">▶</span>
        </button>
        <div class="dropdown__content hidden" id="dropdown-taxes">@include('./taxes.html')</div>
        <div class="boundary"></div>
      </li>
      <li class="info__menu-item dropdown">
        <button class="mainButtons" data-target="dropdown-registry">
          <img loading="lazy" src="img/mobile/ic_rr.svg" class="image" width="" height="" alt="здесь должна быть картинка">
          <div class="supernatant">Услуги Росреестра</div>
          <span class="arrow">▶</span>
        </button>
        <div class="dropdown__content hidden" id="dropdown-registry">@include('./registry.html')</div>
      </li>
    </ul>
  </div>
</section>
