<div class="graph-modal">
  <div class="graph-modal__container graph__box" role="dialog" aria-modal="true" data-graph-target="entrance-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="login-page">
        <form action="#" class="form">
          <h3 class="message">Введите логин и пароль для входа в Личный кабинет</h3>
            <input type="text" name="Имя" class=" form__input" placeholder="Логин">
            <input type="password" name="Имя" class=" form__input" placeholder="Пароль">
          <button class="form__btn">Войти</button>
          <div>
          <a class="reminder-link" href="#">Напомнить пароль</a>
          <a class="registration-link" href="#">Регистрация</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
