<section class="partners">
  <div class="container-fluid">
  <div class="partners__content">
    <h2 class="partners__title">С нами работают</h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img loading="lazy" src="../img/svg/partner1.svg" class="partners__image" width="" height="" alt="">
        <p class="partners__name">Партнёр 1</p>
      </li>
      <li class="partners__item">
        <img loading="lazy" src="../img/svg/partner2.svg" class="partners__image" width="" height="" alt="">
        <p class="partners__name">Компания-партнер с длинным названием</p>
      </li>
      <li class="partners__item">
        <img loading="lazy" src="../img/svg/partner3.svg" class="partners__image" width="" height="" alt="">
        <p class="partners__name">Партнёр 3</p>
      </li>
      <li class="partners__item">
        <img loading="lazy" src="../img/svg/partner4.svg" class="partners__image" width="" height="" alt="">
        <p class="partners__name">Название партнёра 4</p>
      </li>
      <li class="partners__item">
        <img loading="lazy" src="../img/svg/partner5.svg" class="partners__image" width="" height="" alt="">
        <p class="partners__name">Компания-партнёра 5</p>
      </li>
      <li class="partners__item">
        <img loading="lazy" src="../img/svg/partner6.svg" class="partners__image" width="" height="" alt="">
        <p class="partners__name">Партнер 6 <br> с длинным названием</p>
      </li>
    </ul>
    </div>
  </div>
</section>
