<section class="preview">
  <div class="container-fluid">
    <div class="preview__content">
      <div class="form">
        <h3 class="form__title">Поиск начислений</h3>
        <form action="#" class="form__search">
          <input type="text" name="поиск" class="form__input form__img" placeholder="Введите данные для поиска" />
          <button class="form__find btn-reset form__btn">
            <span class="form__btn-name">Найти</span>
            <div class="form__btn-icon"></div>
          </button>
        </form>
      <p class="form__text">Чем больше параметров введено, тем полнее результаты поиска</p>
      </div>
    </div>
  </div>
</section>
