<section class="fines registry">
  <div class="container-fluid">
    <div class="fines__content">
      <img loading="lazy" src="img/rosreestr.png" class="fines__image" width="320" height="320"
        alt="здесь должна быть картинка">
      <div class="fines__information">

        <div class="fines__block code">
          <h2 class="fines__title">Услуги Росреестра</h2>
          <p class="fines__text fines__driver">В поисковой строке укажите Код платежа, который был отправлен вам
            на почтовый ящик, указанный при подаче запроса в Росреестре.</p>
        </div>

        <div class="fines__block">
          <p class="fines__during">НЕТ КОДА?</p>
          <p class="fines__text fines__progress">Если у вас ещё нет кода платежа, перейдите на сайт <a
              href="#">rosreestr.ru</a> и сформируйте запрос на оплату электронных услуг Росреестра.</p>
        </div>
      </div>
    </div>
  </div>
</section>
