<section class="fines taxes">
  <div class="container-fluid">
    <div class="fines__content">

      <div class="fines__information">

        <div class="fines__block document">
          <h2 class="fines__title ">Налоги</h2>
          <p class="fines__text fines__driver">Для поиска начислений по налогам в ГИС ГМП укажите ИНН или Индекс
            налогового документа, если у вас на руках есть квитанция.</p>
        </div>

        <div class="fines__block document">
          <p class="fines__during">ВАЖНО!</p>
          <p class="fines__text fines__progress">Согласно законодательству РФ вы не можете оплачивать налоги за других
            физических лиц. Принимаются только платежи физических лиц.</p>
        </div>

      </div>
      <img loading="lazy" src="img/dues.png" class="fines__image" width="320" height="320"
        alt="здесь должна быть картинка">
    </div>
  </div>
  <div class="boundary"></div>
</section>
